<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos Asincronicos</title>
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    
    <div id="root">
      <div class="encabezado">
        <h1 class="main">Listado de Películas</h1>
        <!--contenedor links-->
        <div class="btn-container">
          <a href="/movies/create" class="btn agregar-btn">Agregar una película</a>
          <a href="/movies/favorite" class="btn favoritas-btn">Peliculas favoritas</a>
        </div>
        <div class="container">
        </div>
        
      </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>


